:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42aa;
  --gray: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;

  --raleway: 'Raleway', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

/* Universal */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--white);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--grey);
  padding: 24px 0;
}

.active {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background-color: #404bbf;
  margin-bottom: -2px;
}

.contact > .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navliststyle-header {
  display: flex;
  align-items: center;
}

/* .nav-main{
    align-items: center value;
} */
.header-link:hover {
  color: #404bbf;
}
.header-link:focus {
  color: #404bbf;
}

.logo-style {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.inside-logo {
  color: var(--navy-blue);
}

.link {
  text-decoration: none;
}

.address-style {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.contacts-style {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-style:hover {
  color: #404bbf;
}
.contacts-style:focus {
  color: #404bbf;
}
.contacts-style:active {
  color: #404bbf;
}

/* Header */
.header-class {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
}
/* Section 1 */
.section-one {
  background-color: #2e2f42;
  padding: 188px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-1.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-one-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.first-section-button {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block center;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section-button:hover,
.first-section-button:focus {
  background-color: #404bbf;
}

/* Section 2 */
.section-two-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--grey);
  margin-bottom: 8px;
}

.section-two-list {
  flex: 0 0 calc((100% - 3 * 24px) / 4);
}

.section-two {
  padding: 120px 0;
}

.section-two-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

/* Section 3 */
.section-three-header,
.section-four-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--grey);
  margin-bottom: 72px;
}

.section-three {
  padding-bottom: 120px;
}

.section-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: calc((100% - 3 * 16px) / 3);
}

/* Section 4 */
.section-four {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.fourth-section-employee-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.employee-bgcolor {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 3 * 24px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.fourth-section-employee-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--grey);
  text-align: center;
  margin-bottom: 8px;
}

.name-and-position {
  padding: 32px 0;
}

.fourth-section-employee-position {
  text-align: center;
  margin-bottom: 16px;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background: var(--ocean);
}

.social-media-svg {
  fill: var(--cloud);
}

/* Section 5 */

.customersection {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Footer */
.footerstyle {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-content-wrap {
  display: flex;
  align-items: baseline;
}

.logo-paragraph {
  margin-right: 120px;
  gap: 120px;
}

.footer-socials-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footerlogo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-bottom: 16px;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-socials-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: Var(--green);
}

.footer-socials-svg {
  fill: var(--cloud);
}

.footerinside-logo {
  color: #f4f4fd;
}

.footer-paragraph {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
  width: 264px;
}

.div-subscribe {
  margin-left: 64px;
}

.subscribe-paragraph {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
}

.subscribe-input::placeholder {
  color: var(--white);
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--roboto);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
}

.subscribe-icon {
  margin-left: 16px;
}

/* Portfolio */
.navlogo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  text-decoration: none;
  margin-right: 76px;
}
.portfolio-logo {
  color: var(--grey);
}

.portfolio-header-menu {
  gap: 40px;
  padding: 24px 0;
  position: relative;
}

.portfolio-filter-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list {
  justify-content: center;
  margin-bottom: 72px;
  display: flex;
  gap: 24px;
}

.project-image {
  position: relative;
  overflow: hidden;
}

.description {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  opacity: 90%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-hdr-menu {
  display: flex;
  padding: 24px;
  gap: 40px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.address-list {
  display: flex;
  gap: 40px;
}

.portfolio-filter-button {
  padding: 12px 24px 12px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio Header */

.portfolio-header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.customertitle {
  font-size: 36px;
  line-height: 1.11;
  color: var(--grey);
  margin-bottom: 72px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

.customer-pic {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-svg {
  width: 104;
  height: 56;
  fill: currentColor;
}

.sectiondiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}

.navliststyle {
  display: flex;
  align-items: center;
}

/* Portfolio Main */

.portfolio-main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

/*  Portfolio Footer */
.portfolio-footer {
  background-color: var(--navy-blue);
}

/* .portfolio-footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
} */

/* .portfolio-footerinside-logo{
    color: #f4f4fd;
} */

/* Portfolio Images */
.default-list {
  list-style: none;
}

/* Styling the list items */
.portfolio-list-item {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-list-images {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

/* Styling the default link class */
.portfolio-filter-link {
  text-decoration: none;
  display: block;
}

.portfolio-filter-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter-link:hover,
.portfolio-filter-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* hw5 */
.portfolio-filter-link:hover .description,
.portfolio-filter-link:focus .description {
  transform: translateY(0%);
}

/* Styling the custom header class */
.custom-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio-main-d {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.portfolio-custom-header {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.custom-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Modal */

.div-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-exit-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.div-modal-form {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}

.div-modal-label {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-name-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-modal-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.privacy-policy {
  color: var(--iris);
}

.modal-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: var(--roboto);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}

.modal-checkbox-input:checked + .modal-checkbox-span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.modal-textarea:focus {
  border-color: var(--iris);
}

.modal-input:focus + .modal-name-icon {
  fill: var(--iris);
}

.modal-input:focus {
  border-color: var(--iris);
}

.modal-exit-button:hover {
  background-color: var(--ocean);
  border: none;
  fill: #ffffff;
}
.modal-exit-button:focus {
  background-color: var(--ocean);
  border: none;
  fill: #ffffff;
}

.modal-exit-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
